.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}
.App h1 {
  margin-bottom: 30px;
}
.container {
  display: flex;
  justify-content: center;
  width: 40rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px;
}
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  margin: 10px 0;
}
.completed {
  text-decoration: line-through;
  color: #ccc;
  cursor: pointer;
}
.text {
  cursor: pointer;
  font-weight: bold;
}
input {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 3px;
  outline: none;
  width: 200px;
}
input:focus {
  border: 3px solid rgb(209, 132, 8);
}
.formControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  margin-bottom: 20px;
}
.button {
  color: #f59e0b;
  background-color: #fff;
  border: 1px solid #f59e0b;
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}
.remove {
  color: red;
  border: 1px solid red;
  margin-left: 10px;
}
.addtodo {
  background-color: #f59e0b;
  color: #fff;
}
.updateTodo {
  background-color: #857f90;
  color: #fff;
}
header {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
header span {
  margin-right: 20px;
  display: inline-block;
  text-align: center;
  width: 20px;
  font-size: 14px;
  height: 20px;
  background-color: #fed7aa;
  color: #c2410c;
  border-radius: 5px;
}
.select {
  width: 150px;
  margin-left: 10px;
}
